HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
.idea/
.idea_modules/
src/main/generated/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
#<<<<<<< HEAD
src/main/resources/project-uos-3bbe709ca933.json
#=======
/src/main/resources/project-uos-3bbe709ca933.json
#>>>>>>> 4b2324c8986ec1a55f51a147e06cd4ce3162318b
